            body {
                background-color: red;
            }
            
            .container {
                text-align: center;
                text-decoration: dashed;
            }
            
            .box {
                background-color: aliceblue;
                border: 4px;
            }